.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbarColor {
  background-color: #e8ae8c;
}

.grid {
  display: flex;
  align-self: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.card-body {
  display: flex;
  flex-direction: column;
}

.checkoutButton {
  display: grid;
  margin: auto;
  max-width: 30%;
  text-align: center;
}

.custom-button {
  background-color: #F3E5AB;
  border-radius: 5px;
  border-color: #F3E5AB;
}
.product-button {
  background-color: #F3E5AB;
  border-radius: 5px;
  border-color: #F3E5AB;
  margin-top: auto;
}


.card {
/* Add shadows to create the "card" effect */
  display: flex;
  flex-grow: 1;
  flex-basis: 30%;
  max-width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.homeCard {
  /* Add shadows to create the "card" effect */
  max-width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;

}

.homeCardBody {
}

.homeGrid {
  align-self: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-content: center;
  justify-content: space-around;
  display: flex;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
/*.container {*/
/*    padding: 2px 16px;*/

/*}*/

.page {
  padding-left: 50px;
}

.homeImg{
  max-width: 100%;
  height: 300px;
}

.checkout{
  height:10%;
}

body{
  position: relative;
  min-height: 100vh;
}

.main{
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem ;
  background-color: #F3E5AB;
}
.dropdown{
  padding: 20px;

}

#dropdown-category{
  background-color: #F3E5AB;
  color: #222222;
  border-color: #222222;
}

.welcomeUser{
  margin-left: 300px;
}


.gold-ore-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gold-ore-button {
  background-color: rgba(239, 238, 233, 0.03);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.particle {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  transition: transform 1s linear;
}




.gold-ore-button:hover {
  background-color: #93938f;
}
